* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Dosis", serif;
  /* display: flex; */
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to top, #e9ebfc, #fdfdfe);
}
